.entire {
  margin-top: 50px;
  height: 100vh;
  color: white;
}

input {
  width: 150px;
}

input,
#status_inp {
  border-radius: 6px;
  border: 1px solid white;
}

.input_fields {
  margin-top: 20px;
  text-align: center;
}

.tableheaders {
  display: flex;
}

.job {
  display: flex;
}

.company_name,
.job_title,
.status,
.date_applied,
.delete_btn,
.sort {
  display: inline-block;
  text-align: center;
  width: 18%;
}

.sort p,
#sort_select{
  display: inline;
}
